{% extends 'RonnyCVAdminBundle:Layout:layout.html.twig' %}
{% block page_title %}About the author{% endblock %}

{% block page_description %}<p>Some words about the author of this app.</p>{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ asset('bundles/ronnycvadmin/images/avatar.jpg') }}" class="img-circle profile-picture">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_horizontal_follow_toolbox"></div>
        </div>
        <div class="col-md-8">
            <h3>Who am I</h3>
            <p>
                My name is Vo Chi Nhan. Now I am a Web Developer mainly in Backend with PHP.<br>
                My friends are used to calling me "Ronny", my previous Facebook name. The name comes from my favorite football player name, Cristiano Ronaldo.
                I make his name to my nickname a little bit cuter, so I call myself Ronny.
            </p>
            <h3>Why do I make this</h3>
            <p>When I look into my CV, I have an idea of making an app to allow everybody can generate their own CVs with variety of themes.</p>
            <h3>Contact me</h3>
            <p>If you find either this app or me interesting, you can contact me through my social links below my picture on the right side.</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55d5b3cd09ba4921"></script>
{% endblock %}