{% extends 'RonnyCVAdminBundle:Layout:layout_banner.html.twig' %}

{% block banner %}
    <div class="banner">
    </div>
{% endblock %}

{% block page_content %}
    <h1 class="text-center">Contact me at: <a href="mailto:ronny.vo.7@gmail.com">ronny.vo.7@gmail.com</a></h1>
{% endblock %}
