{% extends 'RonnyCVAdminBundle:Layout:layout.html.twig' %}
{% block page_content %}
    <div class="col-md-12 text-center">
        <p>There is nothing for hesitation, just click the button below to begin to generate your CV.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('ronny_cv_admin_cv') }}" role="button">Start now</a>
    </div>
{% endblock %}