<div class="introduction">
    <h4 class="bg-primary section-title"><span class="glyphicon glyphicon-user"></span> Personal Information</h4>
    <div class="col-md-3 left-col">
        {% if link_absolute == true %}
            <!--<img src="{{ base_dir ~ asset('bundles/ronnycvadmin/images/logo.png') }}" alt="profile_picture" class="img-profile img-circle">-->
            <img src="{{ base_dir ~ asset(upload_uri_prefix ~ '/' ~ data.user_picture) }}" alt="profile_picture" class="img-profile img-circle">
        {% else %}
            <img src="{{ asset(upload_uri_prefix ~ '/' ~ data.user_picture) }}" alt="profile_picture" class="img-profile img-circle">
        {% endif %}
        <h3>{{ data.user_name }}</h3>
    </div>
    <div class="col-md-9 right-col">
        <ul class="list-unstyled information-list">
            <li><strong>Name: </strong>{{ data.user_name }}</li>
            <li><strong>Date of birth: </strong>{{ data.date_of_birth|date("d/m/Y") }}</li>
            <li><strong>Phone: </strong>{{ data.phone }}</li>
            <li><strong>Email: </strong><a href="mailto:{{ data.email }}" alt="Send email to Vo Chi Nhan">{{ data.email }}</a></li>
            <li><strong>Address: </strong>{{ data.address }}</li>
        </ul>
    </div>
</div>