<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('ronny_cv_admin_homepage') }}">Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('ronny_cv_admin_friend') }}">My friend with Ronny</a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>