{% extends 'RonnyCVAdminBundle:Layout:base.html.twig' %}


{% block body %}
    {% block banner %}{% endblock %}
    <div class="container">
        <div class="content">
            {% block page_message %}
            {% endblock %}
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

