{% extends 'RonnyCVAdminBundle:Layout:base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="jumbotron row">
            <div class="col-md-3">
                {% block page_image %}
                    <img src="{{ asset('bundles/ronnycvadmin/images/logo.png') }}" class="img-header">
                {% endblock %}
            </div>
            <div class="col-md-9">
                <h1 class="page-title">{% block page_title %}Ronny CV Generator{% endblock %}</h1>
                {% block page_description %}
                    <p>This simple web app is used to generate your curriculum vitae by your giving information.</p>
                    <p><a class="btn btn-primary btn-lg" href="{{ path('ronny_cv_admin_about') }}" role="button">About Ronny</a></p>
                {% endblock %}
            </div>

        </div>
        <div class="content">
            {% block page_message %}
            {% endblock %}
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

