.profile-picture {
    width: 248px;
    height: auto;
}
.addthis_toolbox {
    display: inline-block;
}
form label {
    font-size: 16px !important;
}
.img-header {
    max-width: 100%;
    height: 200px;
    margin-top: 12px;
}
.page-title {
    margin-top: 0;
}
.banner {
    width:100%;
    height: 768px;
    background: url('../images/banner_give_me_your_hand.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text {
    position: absolute;
}