<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vo Chi Nhan 's Curriculum Vitae</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    {% if link_absolute is defined and link_absolute == true %}
        <link href="{{ base_dir ~ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_dir ~ asset('bundles/ronnycvadmin/render/css/style.css') }}">
    {% else %}
            <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/ronnycvadmin/render/css/style.css') }}">
    {% endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>
<body>
    <header>
        <div>
            <h1 class="page-title text-center">Curriculum Vitae</h1>
        </div>
    </header>
    <section class="main">
        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
    </section>
</body>
</html>