{% extends 'RonnyCVAdminBundle:CV/Render:base.html.twig' %}

{% set link_absolute = true %}

{% block body %}
    {{ include ('RonnyCVAdminBundle:CV/Block:introduction.html.twig', {'link_absolute': true, 'base_dir': base_dir}) }}
{% endblock %}