{% extends 'RonnyCVAdminBundle:CV/Render:base.html.twig' %}

{% set link_absolute_view = link_absolute %}

{% block body %}
    {{ include ('RonnyCVAdminBundle:CV/Block:introduction.html.twig', {'link_absolute': link_absolute_view, 'data': data.info}) }}
{% endblock %}