{% extends 'RonnyCVAdminBundle:Layout:layout.html.twig' %}
{% block page_title %}Generator{% endblock %}
{% block page_description %}
    <p>Let make your own CV with fun!</p>
{% endblock %}
{#
{% block page_image %}
    <img src="{{ asset('bundles/ronnycvadmin/images/haruhi.jpg') }}" class="img-header">
{% endblock %}
#}
{% block page_content %}
    <h2>Fill out the information</h2>
    <p>Fill out all the fields below for the app to get your information to prepare generating your CV. You can just leave some fields empty if you don't know or want to input.</p>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" class="btn btn-primary btn-lg pull-right" />
    {{ form_end(form) }}
{% endblock %}
