{% extends 'RonnyCVAdminBundle:Layout:layout.html.twig' %}
{% block page_title %}Generator{% endblock %}
{% block page_description %}
    <p>Let make your own CV with fun!</p>
{% endblock %}

{% block page_message %}
    <div class="alert alert-success" role="alert">
        {% for flash_message in app.session.flashBag.get('cv-success') %}
            <p>{{ flash_message }}</p>
        {% endfor %}
    </div>

{% endblock %}

{% block page_content %}

    <div class="text-center">
        <h3 class="text-center">Now you can view your generated CV here...</h3>
        <a class="btn btn-primary btn-lg" href="{{ path('ronny_cv_admin_cv_view', {'id': cvID}) }}" role="button">View</a>
        <h3 class="text-center">...or export to the PDF.</h3>
        <a class="btn btn-primary btn-lg" href="{{ path('ronny_cv_admin_cv_render', {'id': cvID}) }}" role="button">Export</a>
    </div>
{% endblock %}